@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 12px;
  background-color: #3f3f3f;
}

/* some dynamic measurements */
.content {
  width: 50rem;
  max-width: 95%;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  background-color: #313131;
  box-shadow: 0 2px 12px #313131;
}